@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #100c08;
}

body {
  background-color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}

.menu-btn {
  top: 5%;
  left: 90%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.menu-btn-burger {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger:before,
.menu-btn-burger:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger:before {
  transform: translateY(-10px);
}

.menu-btn-burger:after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burger:before {
  transform: rotate(45deg) translate(20px, -20px);
}

.menu-btn.open .menu-btn-burger:after {
  transform: rotate(-45deg) translate(20px, 20px);
}

.container {
  display: none;
  overflow: hidden;
}

#menu-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.603);
}

.menu-links {
  height: 100vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-links > a {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 5%;
}

.menu-para {
  width: 50vw;
  height: auto;
  font-size: 1.3rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-para > p {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 9%;
}

.para-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.para-links > .right {
  list-style-type: none;
  width: 300px;
  height: auto;
  margin-left: 15%;
}

.para-links > .left {
  list-style-type: none;
  width: 300px;
  height: auto;
  margin-left: 15%;
}

.right > li > a,
.left > li > a {
  font-weight: normal;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 3%;
}

.right > li > a:hover,
.left > li > a:hover {
  border-radius: 9px;
  background-color: #f8f8ff;
  color: rgb(0, 0, 0);
  transform: scale(1.2, 1.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.para-links > .right > li {
  padding: 10px;
}

.para-links > .left > li {
  padding: 10px;
}

a:hover {
  border-radius: 9px;
  background-color: #f8f8ff;
  color: rgb(0, 0, 0);
  transform: scale(1.1, 1.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
